models/
venv/
workspace/gta_project/annotations/*.records*
workspace/gta_project/annotations/*.records*
workspace/gta_project/**/*.bin
workspace/gta_project/**/*.jpg
workspace/gta_project/**/*.pb
workspace/gta_project/**/checkpoint
workspace/gta_project/**/*events*

**/*.npy
**/*ckpt-*.*
**/*variables.*
.DS_Store
